extends layout

block content
  p.
    in 2012 i made a live-coding graphics website. it functions
    like an image gallery, except instead of uploading images,
    users have to generate them procedurally by filling out a
    javascript function stub.
  p.
    prior to this project i had been learning python for just
    over a year, and i had no other significant programming 
    experience. image-code was an introduction to javascript, 
    html, webservers, and asynchronous programming. as such,
    i do not recommend looking at the source. for the brave,
    it is available on my
    <a href='https://github.com/SudoNhim/Image-code-Project'>
      github</a>.
  p.
    as of 2015 the site has around 300 submissions, of which
    about half are my own. you can access image-code 
    <a href='http://global.canthub.info/imagecode'>
    here</a> and have a play with it if you like. submitting
    images is relatively open to abuse; if it is being hacked 
    in bad taste i will disable submitting, or add moderation.
  figure
    img(src='images/imagecode/gallery.png')
    figcaption screenshot of the gallery