extends layout

block content
  p hello internet
  p this site serves three purposes:
  ul
    li it lets me link the things i've made
    li it stops me throwing away my old projects
    li hopefully someone will find some of my stuff useful
  p feel free to email me, brenton.a.milne@gmail.com