extends layout

block content
  p hello internet
  p this site is a place for me to catalog and/or host my projects.
  p. 
    if you have any queries, or want help/advice for a project of
    your own, feel free to email me at brenton.a.milne@gmail.com