doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="shortcut icon" href="/favicon.ico?foo")
  body
    div(id='topbanner')
      p i'll make this site pretty one day maybe
    div(id='menuitems')
      each item in appdata.menu
        div(class='menuItem')= item.title
          a(href=item.link)
            img(class='menuItemThumbnail' src=item.thumbnail)
    div
      block content

    div(id='bottombanner')
      p brenton milne's stuff, 2015-future