doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(id='topbanner')
      p i'll make this site pretty one day i promise
    div(id='menuitems')
      each item in menu
        div(class='menuItem')= item
    div
      block content

    div(id='bottombanner')
      p brenton milne's stuff, 2015-future