doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(id='topbanner')
      p i'll make this site pretty one day i promise
    div
      block content