extends layout

block content
  figure
    img(src='/images/minecraft/finished.png')
  p.
    i wrote a realtime ray tracer that can render minecraft worlds with rounded
     edges. notable features:
  ul
    li normal mapping
    li reflections
    li ambient occlusion
    li fog
  p.
    i can render the same view distance as the actual minecraft renderer at
    30fps on my gtx 660 at 1080p
  p.
    the blocks are intersected using a voxel stepping algorithm that runs 
    efficiently as a shader program on the gpu. i came up with the algorithm 
    myself however i am not the first to do so; other voxel steppers on 
    shadertoy.com use the same algorithm. within each block, the rounded edges
    are intersected by raymarching a distance field. the ambient occlusion is
    very crude; upon intersection the map is sampled for other nearby blocks,
    and a made-up calculation is performed. screen space occlusion would be
    better, but this method means the entire tracer can by implemented as a
    shader program. textures are generated procedurally, and scenery comes
    from a heightmap (although there's no reason it couldn't be an actual 
    minecraft map saved as a 3d texture).

  p.
    i made this renderer while studying in 2014. now, a year later, i am
    writing it up. i don't have a desktop computer to run it on, or to plug my
    backup hdd in to to get the source. all i have are some screenshots i
    took while coding. hopefully i will come back here later to add the source
    and a video of it in action.

  figure
    img(src='images/minecraft/voxel_stepper.png')
    figcaption the initial voxel stepper

  figure
    img(src='images/minecraft/textures_and_fog.png')
    figcaption after adding textures and fog
        
  figure
    img(src='images/minecraft/transparent_water.png')
    figcaption with transparent water

  figure
    img(src='images/minecraft/distance_fields.png')
    figcaption messing with distance fields
        
  figure
    img(src='images/minecraft/rounded_edges.png')
    figcaption rounded edges implemented
        
  figure
    img(src='images/minecraft/reflections.png')
    figcaption reflection implemented
        
  figure
    img(src='images/minecraft/fun_with_reflections.png')
    figcaption messing around
        
  figure
    img(src='images/minecraft/specular.png')
    figcaption specular highlights added
        
  figure
    img(src='images/minecraft/normal_mapping_and_ao.png')
    figcaption normal mapping and ambient occlusion added
        
  