body
  font 14px Consolas
  background-color black
  
div
  color lightgreen
  border 1px solid lightgreen

a
  color lightred

#menuitems
  overflow auto

#menuitems .menuItem
  float left
  width 128px
  height 128px

#menuitems .menuItem:hover
  background-color darkgrey

#topbanner p
  margin 0

#bottombanner p
  text-align right
  margin 0